@page "/dashboard-telerik"

<div class="content">
    @if (!isLoaded) {
        <p>Loading...</p>
    } else {
        <div class="row">
            <div class="col-md-6">
                <Telerik.Blazor.Components.TelerikChart>
                    <Telerik.Blazor.Components.ChartSeriesItems>
                        <Telerik.Blazor.Components.ChartSeries Type="Telerik.Blazor.ChartSeriesType.Pie" Data="@ordersByCountryDataSource.Series"
                                     Field="@nameof(ChartVmSeries.Value)" CategoryField="@nameof(ChartVmSeries.Category)">
                        </Telerik.Blazor.Components.ChartSeries>
                    </Telerik.Blazor.Components.ChartSeriesItems>

                    <Telerik.Blazor.Components.ChartTitle Text="Revenue per country"></Telerik.Blazor.Components.ChartTitle>

                    <Telerik.Blazor.Components.ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Right">
                    </Telerik.Blazor.Components.ChartLegend>
                </Telerik.Blazor.Components.TelerikChart>
            </div>
            <div class="col-md-6">
                <Telerik.Blazor.Components.TelerikChart>
                    <Telerik.Blazor.Components.ChartSeriesItems>
                        <Telerik.Blazor.Components.ChartSeries Type="Telerik.Blazor.ChartSeriesType.Bar" Name="Product 1" Data="@mostOrderedProductsDataSource.Series"
                                     Field="@nameof(ChartVmSeries.Value)" CategoryField="@nameof(ChartVmSeries.Category)">
                        </Telerik.Blazor.Components.ChartSeries>
                    </Telerik.Blazor.Components.ChartSeriesItems>

                    <Telerik.Blazor.Components.ChartTitle Text="Most ordered products"></Telerik.Blazor.Components.ChartTitle>

                    <Telerik.Blazor.Components.ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Right">
                    </Telerik.Blazor.Components.ChartLegend>
                </Telerik.Blazor.Components.TelerikChart>

            </div>
        </div>
    }
</div>